*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: verdana;
}

html{
    scroll-behavior: smooth;
}

:root{
    /* --color-1:crimson; */
    --color-1:rgba(15, 87, 232, 0.987);
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    transition: all 0.3s ease;
    z-index: 999;
    /* background-color: var(--color-1); */
}

.navbar.sticky{
    padding: 30px 0;
    background-color: var(--color-1);
}

.max-width{
    max-width: 1300px;
    padding: 0 20px;
    margin: auto;
}

.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.navbar .logo a span{
   color: var(--color-1);
   background-color: white;
}

.navbar.sticky .logo a span{
    color: var(--color-1); /*important*/
}

.max-width .menu li{
    display: inline;
}

.menu li a{
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-left: 8px;
  transition: all 0.3s ease;
}

.menu li a:hover{
    color: var(--color-1);
    /* color: crimson; */
}

.navbar.sticky .menu li a:hover{
    color: white;
}

/*-- btn responsive---*/
.max-width .menu-btn{
   color: white;
   cursor: pointer;
   font-size: 30px;
   display: none;
}

.scroll-up-btn{
    position: fixed;
    right: 30px;
    bottom: 10px;
    width: 45px;
    height: 45px;
    background-color: var(--color-1);
    text-align: center;
    color: white;
    border-radius: 6px;
    font-size: 35px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    z-index: 9999;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    opacity: 1;
    bottom: 30px;
    pointer-events: auto;
}

/* start styling home sections */

.home{
    height: 100vh;
    display: flex;
    background: url("img/profile-5.png") no-repeat center;
    min-height: 500px;
    /* width: 100%; */
    color: white;
    color: var(--color-1);
    /* font-size: 40px; */
    font-weight: bold;
    /* background-color: #111; */
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 70px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin-bottom: 20px;
}

.home .home-content .text-3 span{
    background-color: var(--color-1);
    color: white;
}

.home .home-content a{
   background-color: var(--color-1);
   color: white;
   border-radius: 10px;
   border: 5px solid var(--color-1);
   padding: 25px 0;
   padding: 0 30px;
   font-size: 25px;
   font-weight: 500;
   transition: all 0.3s ease;
   margin-top: 40px;
}

.home .home-content a:hover{
   background-color: white; margin-top: 40px;
   color: var(--color-1);
 }


 /*-- similar part --*/
section{
    padding:100px 0;
}

section .title{
    position: relative;
    margin: 70px 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 30px;
    z-index: -1;
}

section .title::before{
    position: absolute;
    content: "";
    width: 270px;
    height: 4px;
    background-color: black;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


/* begin about part styling */
.about .title::after{
    position: absolute;
    content: "qui suis-je";
    color: var(--color-1);
    background-color: white;
    font-size: 22px;
    padding: 5px;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.about .about-content{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

.about .about-content .column{
   width: 50%;
 }

.about .about-content .left{
   width: 45%;
}

.about .about-content .rigth{
   width: 55%;
}

.about .about-content .rigth .text{
   font-size: 23px;
   font-weight: 500;
   margin-bottom: 15px;
}

.about .about-content .rigth .text span{
 color: var(--color-1);
 }

.about .about-content .rigth p{
    text-align: justify;
    line-height: 26px;
}

.about .about-content .rigth a{
    display: inline-block;
    background-color: var(--color-1);
    color: white;
    border-radius: 10px;
    border: 5px solid var(--color-1);
    padding: 15px 20px 15px 20px!important;
    /* padding: 0 20px!important; */
    font-size: 25px;
    font-weight: 500;
    transition: all 0.3s ease;
    margin-top: 30px!important;
   
}

.about .about-content .rigth a:hover{
   color: var(--color-1);
   background-color: white;
}

.about .about-content .left img{
    right: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 7px;
}



/* begin service part styling */
.service{
    background-color: #111;
    color: white!important;   
}

.service .title{
  z-index: 9;
  position: relative;
  margin: 70px 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 30px;
  /* z-index: -1; */
}

.service .title::before{
    position: absolute;
    content: "";
    width: 200px;
    height: 4px;
    background-color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.service .title::after{
  content: "mes services";
  position: absolute;
  color: var(--color-1);
  background-color: #111;
  font-size: 22px;
  padding: 5px;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
   
}

.service .service-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service .service-content .card{
    background-color: #222;
   padding: 20px 30px;
   cursor: pointer;
   border-radius: 8px;
   width: calc(33% - 20px);
   text-align: center;
   transition: all 0.3s ease;
}

.service .service-content .card .box{
    transition: all 0.3s ease;
}

.service .service-content .card .box i{
    font-size: 45px;
    color: var(--color-1);
    margin-bottom: 6px;
}

.service .service-content .card .box .text{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 4px;
}

.service .service-content .card .box p{
   text-align: justify;
}

.service .service-content .card:hover .box{
  transform: scale(1.05);
}



/* begin skills part styling */
.skills .title::after{
    position: absolute;
    content: "mes competences";
    color: var(--color-1);
    background-color: white;
    font-size: 22px;
    padding: 5px;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
} 

.skills .skills-content{
   display: flex;
   align-items: center;
   justify-content: space-between;
}



.skills .skills-content .column{
    /* width: 50%; */
}

.skills .skills-content .left{
    width: 50%;
    margin-right: 10px;
}

.skills .skills-content .rigth{
    width: 50%;
}

.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
   text-align: justify;
}

.skills .skills-content .rigth .bars .info{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
}

.skills .skills-content .rigth .line{
    height: 8px;
    width: 100%;
    background-color: beige;
    position: relative;
 }

 .skills .skills-content .rigth .line::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 80%;
    background-color: var(--color-1);
 }

 .skills .skills-content .rigth .html::before{
   width: 90%;
 }
 .skills .skills-content .rigth .css::before{
    width: 85%;
  }


/* begin teams part styling */
.teams .title::after{
    content: "qui me suit";
    position: absolute;
    color: var(--color-1);
    background-color: white;
    font-size: 22px;
    padding: 5px;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.teams .carousel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teams .carousel .card{
   background-color: #444;
   text-align: center;
   padding: 30px 25px;
   transition: all 0.3s ease;
   border-radius: 8px;

}

.teams .carousel .card:hover{
    background-color: var(--color-1);
}

.teams .carousel .card .box{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: all 0.3s ease;
 }

 .teams .carousel .card .box .text{
    color: white;
    font-weight: 600;
    font-size: 25px;
    margin: 7px 0;
}
 
.teams .carousel .card .box p{
    color: white;
}  

.teams .carousel .card:hover .box{
   transform: scale(1.05);
}

.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 6px solid var(--color-1);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.teams .carousel .card img:hover{
 transform: scale(1.1);
}

.teams .carousel .card:hover img{
   border-color: white;
}

/*--  proprieté du owl --*/
.owl-dots{
    text-align: center;
    margin: 20px 20px;
}
.owl-dot{
   width: 14px;
   height: 14px;
   margin: 0 5px;
   border-radius: 50%;
   border: 2px solid var(--color-1)!important;
   outline: none!important;
} 

.owl-dot.active{
    width: 30px;
    border-radius: 14px;
    transition: all 0.3s ease;
 }

 .owl-dot.active,
 .owl-dot:hover{
   background-color: var(--color-1)!important;
 }



/* begin contact part styling */

.contacts .title::after{
    content: "mon contact";
    position: absolute;
    color: var(--color-1);
    background-color: white;
    font-size: 22px;
    padding: 5px;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.contacts .contacts-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.contacts .contacts-content .column{
   width: calc(50% - 30px);
   /* background-color: #111;
   color: white; */
 }

 .contacts .contacts-content .left .text{
   font-size: 30px;
   font-weight: 500;
  }

 
.contacts .contacts-content .left .icon{
    margin: 20px 0;
}

/* .contacts .contacts-content .left .icon{
    margin: 20px 0;
} */

  .contacts .contacts-content .row{
     display: flex;
     height: 65px;
     align-items: center;
  }

  .contacts .contacts-content .row .info{
   margin-left: 25px;
 }

 .contacts .contacts-content .row .info .head{
    font-size: 20px;
   font-weight: 500;
  }

 .contacts .contacts-content .row i{
   font-size: 30px;
   color: var(--color-1);
 }





/* begin footer part styling */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
    color: white;
    background-color: #333;
}

footer p a{
    color: var(--color-1);
    font-weight: 500;
    font-size: 25px;
}

footer p a:hover{
    text-decoration: underline;
}





/* start media query responsive */

@media (max-width:947px){
  .max-width{
    padding: 0 50px;
  }  

 .navbar .menu-btn{
    display: block;
    z-index: 999;
    color: white;
  }

.navbar .menu-btn i.active:before{
   content: "\f00d";
}

.navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    /* left: 0; */
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 80px;
    z-index: 0;
    transition: all 0.3s ease;
  }

.navbar .menu.active{
    left: 0;
}

.navbar .menu li{
    color: white;
    display: block;
}
.navbar .menu li{
    color: white;
    display: block;
}

  .navbar .menu li a{
    display: inline-block;
    margin: 0 20px;
  }

}



@media (max-width:670px){
 
}